<%- include('header') -%>

<main>
	<form method="POST">
		<button name="action" value="add">Save</button>
		<!-- button>Send</button -->

		<label>
			URL:
			<input
				type="text"
				name="url"
				placeholder="http://www.example.com"
			>
			<% if (errors.url) { %>
				<div class="form-error">URL is required</div>
			<% } %>
		</label>
		<label>
			E-mail:
			<input
				type="text"
				name="email"
				placeholder="user@example.com"
			>
		</label>

		<% if (urls.length) { %>
			<ul>
				<% urls.forEach(({ id, url }) => { %>
					<li>
						<button
							name="action"
							value="remove:<%= id %>"
						>
							X
						</button>
						<%= url %>
					</li>
				<% }) %>
			</ul>
		<% } %>

		<div class="window-placeholder"></div>
	</form>
</main>

<%- include('footer') -%>
